<div class="header">
    <div class="logo-header" [routerLink]="['/']">
        <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Logo_of_YouTube_%282015-2017%29.svg/1200px-Logo_of_YouTube_%282015-2017%29.svg.png" alt="">
         
    </div>
    <div class="menu-header">
        <ul class="menu">
       
            <li *appOnlySession="true" [routerLink]="['/','list-videos']">Mis videos</li>
            <li>Más vistos</li>
            <li *appOnlySession="true" [routerLink]="['/','upload']">Subir video</li>
            <li *appOnlySession="false" [routerLink]="['/','login']">Iniciar sesion</li>
          
        </ul>
    </div>

</div>
