.table{
    padding-left: 1rem;
    padding-right: 1rem;
}

.material{
    box-shadow:
  0 0px 5.3px rgba(0, 0, 0, 0.008),
  0 0px 17.9px rgba(0, 0, 0, 0.012),
  0 0px 80px rgba(0, 0, 0, 0.02) !important;
}

.video-image{
  width: 9rem;
  height: 5.5rem;
  object-fit: cover;
}

.title{
  font-weight: 600;
  font-size: .95rem;
}

.subtitle{
  font-weight: 500;
  font-size: .85rem;
}